# Python bytecode cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
.venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Python Testing
.pytest_cache/
.coverage
htmlcov/

# Misc
.DS_Store 